:root {
  --main-heading-color: #212121;
  --main-backlight-color: #2196f3;
  --main-paragraph-color: #757575;
  --some-title-color: #ffffff;
  --some-button-color: #f5f4fa;
  --border-color: #eeeeee;
}
h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
.body {
  font-family: 'roboto', sans-serif;
}
/*------------------------------------------------------------HEADER BLOCK---------------------------------------------------------*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
/*LOGO*/
.header-logo {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-backlight-color);
}
.logo-second-word {
  color: var(--main-heading-color);
}
/*NAVIGATION*/
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}
.navigation {
  display: flex;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  color: var(--main-heading-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--main-backlight-color);
}
/*CONTACTS*/
.header-contacts {
  margin-left: auto;
}
.contacts {
  margin-left: auto;
  display: flex;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  color: var(--main-paragraph-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  padding-top: 24px;
  padding-bottom: 25px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-backlight-color);
}

/*---------------------------------------------------------MAIN BLOCK------------------------------------------------------------*/
/*HERO*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-title {
  color: var(--some-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 452px;
  margin-right: 452px;
}

.hero-button {
  background-color: var(--main-backlight-color);
  color: var(--some-title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
}
.hero-button:focus,
.hero-button:hover {
  background-color: #188ce8;
}
/*FEATURES*/
.section {
  padding: 94px 0px;
}
.features {
  display: flex;
}
.features-item {
  display: inline;
  margin-right: 30px;
}
.features-heading {
  color: var(--main-heading-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  color: var(--main-paragraph-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-text:not(:last-child) {
  padding-right: 30px;
}
/*OWN-WORK*/
.own-work-section {
  padding-top: 0;
}
.own-work {
  color: var(--main-heading-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.works {
  display: flex;
}
.works-item:not(:last-child) {
  margin-right: 30px;
}
/*TEAM*/
.own-team-section {
  background-color: var(--some-button-color);
}
.own-team {
  color: var(--main-heading-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team {
  display: flex;
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-main-text {
  padding: 30px 30px;
}
.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-heading {
  color: var(--main-heading-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-text {
  color: var(--main-paragraph-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/*---------------------------------------------------------MAIN BLOCK PORTFOLIO------------------------------------------------------------*/
.portfolio-section {
  padding-bottom: 94px;
  padding-top: 94px;
}
/*FILTER*/
.filter {
  display: flex;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--some-button-color);
  border-radius: 4px;
  border-width: 0px;
  padding: 6px 22px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--some-title-color);
  background-color: var(--main-backlight-color);
}
/*GALLERY*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 50px;
  margin-bottom: -30px;
}
.gallery-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery-item {
  margin-left: 30px;
  margin-bottom: 30px;
}
.gallery-item-text {
  padding: 20px 24px 20px 24px;
}
.gallery-link {
  text-decoration: none;
}

.gallery-title {
  color: var(--main-heading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-text {
  color: var(--main-paragraph-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*----------------------------------------------------------Footer---------------------------------------------------------------------*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
/*LOGO*/
.footer-logo {
  color: var(--main-backlight-color);
  font-family: Raleway;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logotype {
  margin-bottom: 20px;
}
.footer-logo-second-word {
  color: var(--some-title-color);
}
/*NAVIGATION*/
.address {
}
.footer-list {
  list-style: none;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-style: normal;
  color: var(--some-title-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-map:hover {
  color: var(--main-backlight-color);
}
.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-contact:hover {
  color: var(--main-backlight-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/